.float-left{
    margin:45px 90%;


}
.col-8{
    margin: 20px;
    
}
.col-4 {
    margin: 0 68%;

}
input.ng-invalid.ng-touched{
    border: red 1px solid;
}
textarea.ng-invalid.ng-touched{
    border: red 1px solid;
}