<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
     
    </div>
  </div>
</div>
<div class="container-fluid mt--7">  

    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Renter Creat</h3>
          </div>
          
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h6 class="heading-small text-muted mb-4">Renters information</h6>
          <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" >National ID</label>
                  <input type="text" 
                  class="form-control form-control-alternative" 
                  formControlName="id" 
                  placeholder="Enter Renter ID"
                  [ngClass]= "{'is-invalid': submitted && form.controls.id.errors}" />
                  <div *ngIf="submitted && form.controls.id.errors"
                  class="text-danger"> 
                  <div *ngIf= "submitted && form.controls.id.errors.required">
                    National ID is required.
                  </div>
                  </div>  
                </div>
              </div>
            <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" >Renter Name</label>
                  <input type="text" 
                  id="name" 
                  class="form-control form-control-alternative" 
                  formControlName="name" 
                  placeholder="Enter Renter Name"
                  [ngClass]= "{'is-invalid': submitted && form.controls.name.errors}" />
                  <div *ngIf="submitted && form.controls.name.errors"
                  class="text-danger"> 
                 <div *ngIf= "submitted && form.controls.name.errors.required">
                  Renter Name is required.
                 </div>
                </div>  
                  
                </div>
              </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Mobile No</label>
                <input type="tel" 
                class="form-control form-control-alternative" 
                formControlName="mobile" 
                placeholder="Enter Mobile"
                [ngClass]= "{'is-invalid': submitted && form.controls.mobile.errors}" />
                  <div *ngIf="submitted && form.controls.name.errors"
                  class="text-danger"> 
                 <div *ngIf= "submitted && form.controls.mobile.errors.required">
                  Mobile No is required.
                 </div>
                </div>  
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Adress</label>
                <input type="text"  
                class="form-control form-control-alternative" 
                formControlName="address" 
                placeholder="Enter Adress"
                [ngClass]= "{'is-invalid': submitted && form.controls.address.errors}" />
                <div *ngIf="submitted && form.controls.name.errors"
                class="text-danger"> 
                <div *ngIf= "submitted && form.controls.address.errors.required">
                  Adress is required.
                </div>
                </div>  
                
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Desc</label>
                <input type="text"  
                class="form-control form-control-alternative" 
                formControlName="desc" 
                placeholder="Enter Desc" 
                [ngClass]= "{'is-invalid': submitted && form.controls.desc.errors}" />
                <div *ngIf="submitted && form.controls.desc.errors"
                class="text-danger"> 
                <div *ngIf= "submitted && form.controls.desc.errors.required">
                Desc is required.
                </div>
                </div>
                <p></p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Old Blance</label>
                <input type="number"  
                class="form-control form-control-alternative" 
                formControlName="oldBalance" 
                placeholder="Enter Old Blance"
                [ngClass]= "{'is-invalid': submitted && form.controls.oldBalance.errors}" />
                <div *ngIf="submitted && form.controls.oldBalance.errors"
                class="text-danger"> 
                <div *ngIf= "submitted && form.controls.oldBalance.errors.required">
                  Old Blance is required.
                </div>
                </div>  
              </div>
            </div> 
          </div>
          <div class="col-4 text-right">
            <button class="btn  btn-primary" (click)="save()">Save</button>
            <a routerLink="/rent-create/list" class="btn  btn-secondary">Back</a>
          </div>
        </form>
      </div>
    </div>
