<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">  
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Expenses Creat</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h6 class="heading-small text-muted mb-4">expenses information</h6>
            <div class="row">

              <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" 
                    for="input-last-name">Apartment ID</label>
                    <input type="number" 
                    formControlName="apratmentExpenseID"  
                    class="form-control form-control-alternative" 
                    placeholder="Enter Apartment ID" 
                    [ngClass]= "{'is-invalid': submitted && form.controls.apratmentExpenseID.errors}" />
                    <div *ngIf="submitted && form.controls.apratmentExpenseID.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.apratmentExpenseID.errors.required">
                    Month is required.
                   </div>
                  </div> 
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" 
                    for="input-last-name">Apartment Name</label>
                    <input type="text" 
                    formControlName="apartmentName"   
                    class="form-control form-control-alternative"  
                    placeholder="Enter Apartment Name"
                    [ngClass]= "{'is-invalid': submitted && form.controls.apartmentName.errors}" />
                    <div *ngIf="submitted && form.controls.apartmentName.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.apartmentName.errors.required">
                    Month is required.
                   </div>
                  </div> 
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label >User ID</label>
                    <input type="text"
                     formControlName="userID"  
                     class="form-control form-control-alternative"  
                     placeholder="Enter User ID"
                     [ngClass]= "{'is-invalid': submitted && form.controls.userID.errors}" />
                     <div *ngIf="submitted && form.controls.userID.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.userID.errors.required">
                    user ID is required.
                   </div>
                  </div> 
                  </div>
                </div>

              <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" >Amount</label>
                    <input type="number"
                    formControlName="amount"  
                    class="form-control form-control-alternative" 
                    placeholder="Enter Amount"
                    [ngClass]= "{'is-invalid': submitted && form.controls.amount.errors}" />
                    <div *ngIf="submitted && form.controls.amount.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.amount.errors.required">
                    amount is required.
                   </div>
                  </div> 
                  </div>
                </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" 
                  for="input-first-name">Duo Date</label>
                 <input type="date" 
                  formControlName="dueDate"  
                  class="form-control form-control-alternative" 
                  [ngClass]= "{'is-invalid': submitted && form.controls.dueDate.errors}"/>
                  <div *ngIf="submitted && form.controls.dueDate.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.dueDate.errors.required">
                    Date is required.
                   </div>
                  </div> 
                </div>

                <div class="form-group">
                  <label class="form-control-label" 
                  for="input-last-name">Month</label>
                  <input type="number"  
                  formControlName="month"  
                  class="form-control form-control-alternative" 
                  placeholder="Enter Month" 
                  [ngClass]= "{'is-invalid': submitted && form.controls.month.errors}" />
                  <div *ngIf="submitted && form.controls.month.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.month.errors.required">
                    Month is required.
                   </div>
                  </div> 
                </div>

                <div class="form-group">
                  <label class="form-control-label" 
                  for="input-last-name">Year</label>
                  <input type="text"  
                  formControlName="year"  
                  class="form-control form-control-alternative" 
                  placeholder="Enter Year"
                  [ngClass]= "{'is-invalid': submitted && form.controls.year.errors}" />
                  <div *ngIf ="submitted && form.controls.year.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.year.errors.required">
                    year is required.
                   </div>
                  </div> 
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" 
                  for="input-last-name">Reason</label>
                  <input type="text"  
                  formControlName="reason"  
                  class="form-control form-control-alternative" 
                  placeholder="Enter Reason"
                  [ngClass]= "{'is-invalid': submitted && form.controls.reason.errors}" />
                  <div *ngIf="submitted && form.controls.month.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.month.errors.required">
                    Month is required.
                   </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="form-group">
                  <div class="col-4 text-right">
                    <button  class="btn  btn-primary" (click)="save()">Save</button>
                    <a  class="btn  btn-secondary" routerLink="/expenses/list">Back</a>
                  </div>
                </div>
          </form>
        </div>
      </div>
    </div>
    