<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<div class="container-fluid mt--7">  
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Bank Deposit Creat</h3>
          </div>
          
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h6 class="heading-small text-muted mb-4">Bank Deposit information</h6>
          <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" >Amount</label>
                  <input type="number" 
                  class="form-control form-control-alternative"
                  formControlName="amount" 
                  placeholder="Enter Amount"
                  [ngClass]= "{'is-invalid': submitted && form.controls.amount.errors}" />
                  <div *ngIf="submitted && form.controls.amount.errors"
                   class="text-danger"> 
                  <div *ngIf= "submitted && form.controls.amount.errors.required">
                    amount is required.
                  </div>
                  </div> 
                </div>
              </div>

            <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" >Currency</label>
                  <input type="text" 
                  formControlName="currencyCode" 
                  class="form-control form-control-alternative" 
                  placeholder="Enter Currency"
                  [ngClass]= "{'is-invalid': submitted && form.controls.currencyCode.errors}" />
                    <div *ngIf="submitted && form.controls.currencyCode.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.currencyCode.errors.required">
                    currency Code is required.
                   </div>
                  </div> 
                </div>
              </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Exchange Rate</label>
                <input type="number" 
                formControlName="exchangeRate" 
                class="form-control form-control-alternative" 
                placeholder="Enter Exchange Rate"
                [ngClass]= "{'is-invalid': submitted && form.controls.exchangeRate.errors}" />
                <div *ngIf="submitted && form.controls.exchangeRate.errors"
                class="text-danger"> 
                <div *ngIf= "submitted && form.controls.exchangeRate.errors.required">
                Exchange Rate is required.
                </div>
                </div> 
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Recipt No</label>
                <input type="text" 
                formControlName="reciptNo"  
                class="form-control form-control-alternative" 
                placeholder="Enter Recipt No"
                [ngClass]= "{'is-invalid': submitted && form.controls.reciptNo.errors}" />
                    <div *ngIf="submitted && form.controls.reciptNo.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.reciptNo.errors.required">
                    Recipt No is required.
                   </div>
                  </div> 
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Date</label>
                <input type="date" 
                formControlName="date" 
                class="form-control form-control-alternative" 
                placeholder="Enter Date"
                [ngClass]= "{'is-invalid': submitted && form.controls.date.errors}" />
                    <div *ngIf="submitted && form.controls.date.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.date.errors.required">
                    Date is required.
                   </div>
                  </div> 
                <p></p>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                  <label class="form-control-label" for="input-last-name">Month</label>
                  <input type="number"  
                  formControlName="month"  
                  class="form-control form-control-alternative" 
                  placeholder="Enter Month"
                  [ngClass]= "{'is-invalid': submitted && form.controls.month.errors}" />
                  <div *ngIf="submitted && form.controls.month.errors"
                  class="text-danger"> 
                  <div *ngIf= "submitted && form.controls.month.errors.required">
                  Month is required.
                  </div>
                  </div> 
                </div>
                
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Year</label>
                <input type="number"  
                formControlName="year"  
                class="form-control form-control-alternative" 
                placeholder="Enter Year"
                [ngClass]= "{'is-invalid': submitted && form.controls.year.errors}" />
                <div *ngIf="submitted && form.controls.year.errors"
                class="text-danger"> 
                <div *ngIf= "submitted && form.controls.year.errors.required">
                    year is required.
                </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label >Note</label>
                <input type="text" 
                formControlName="notes"  
                class="form-control form-control-alternative" 
                placeholder="Enter Note"
                [ngClass]= "{'is-invalid': submitted && form.controls.notes.errors}" />
                <div *ngIf="submitted && form.controls.notes.errors"
                class="text-danger"> 
                <div *ngIf= "submitted && form.controls.notes.errors.required">
                    Note is required.
                </div>
                </div> 
              </div>
            </div>
          </div>

          <div class="col-4 text-right">
            <button  class="btn  btn-primary" (click)="save()">Save</button>
            <a type="button" routerLink="/bank-deposit/list" class="btn btn-primary">Back</a>
          </div>

        </form>
      </div>
    </div>
  