<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<div class="container-fluid mt--7">  
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Rent Contract Creat</h3>
              </div>
             
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <h6 class="heading-small text-muted mb-4">Contract information</h6>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Apartment </label>
                    <select    class="form-control form-control-alternative form-select "   
                     formControlName="apartmentID"  
                     placeholder="Select Apartment"
                     [ngClass]= "{'is-invalid': submitted && form.controls.apartmentID.errors}" >
                      <option *ngFor="let item of apartmentList" 
                      [value]="item.apartmentID" >{{item.name}}</option>
                      
                      <div *ngIf="submitted && form.controls.apartmentID.errors"
                       class="text-danger"> 
                       <div *ngIf= "submitted && form.controls.apartmentID.errors.required">
                        Select Apartment ID 
                       </div>
                  </div> 
                   </select> 
                   </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Renter </label>
                    <select    class="form-control form-control-alternative form-select "    
                    formControlName="renterID"  
                    placeholder="Select Renter"
                    [ngClass]= "{'is-invalid': submitted && form.controls.renterID.errors}">
                      <option *ngFor="let item of renterList" [value]="item.renterID" >{{item.name}}</option>
                      <div *ngIf="submitted && form.controls.renterID.errors"
                   class="text-danger"
                    > 
                   <div *ngIf="submitted && form.controls.amount.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.renterID.errors.required">
                    Select Renter ID
                   </div>
                   </div>
                  </div> 
                   </select>
                   </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name" >Amount</label>
                    <input type="number"  
                    class="form-control form-control-alternative" 
                    formControlName="amount" 
                    placeholder="Enter Amount" 
                    [ngClass]= "{'is-invalid': submitted && form.controls.amount.errors}" />
                    <div *ngIf="submitted && form.controls.amount.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.amount.errors.required">
                    amount is required.
                   </div>
                  </div> 
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name" >Start Date</label>
                    <input type="date"  
                    class="form-control form-control-alternative" 
                    formControlName="startDate" 
                    placeholder="Start Date" 
                    [ngClass]= "{'is-invalid': submitted && form.controls.startDate.errors}" />
                    <div *ngIf="submitted && form.controls.startDate.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.startDate.errors.required">
                    Date is required.
                   </div>
                  </div> >
                    
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label >End Date</label>
                    <input type="date"  
                    class="form-control form-control-alternative" 
                    formControlName="endDate"  
                    [ngClass]= "{'is-invalid': submitted && form.controls.endDate.errors}" />
                    <div *ngIf="submitted && form.controls.endDate.errors"
                   class="text-danger"> 
                   <div *ngIf= "submitted && form.controls.endDate.errors.required">
                    end Date required
                   </div>
                  </div> 
                  </div>
                </div>
              </div>
              <div class="col-4 text-right">
                <button  class="btn  btn-primary"(click)="save()">Save</button>
                <a  class="btn  btn-secondary" routerLink="/rent-contract/list">Back</a>
              </div>
            </form>
          </div>
        </div>
    
  